<form id="scene-filter" class="ui mini form segment">
  <div class="ui equal width centered divided grid">
    <div class="row">
      <div class="column">
        <div class="ui massive fluid icon input">
          <input id="scene-search" name="q" placeholder="Search scenes..." type="text">
          <i class="search icon"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <h5>Studios</h5>
        <div id="studio-filter" class="ui fluid multiple search selection dropdown">
          <input name="filter_studios" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text"><i class="record icon"></i>Studios</div>
        </div>
      </div>
      <div class="column">
        <h5>Performers</h5>
        <div id="performer-filter" class="ui fluid multiple search selection dropdown">
          <input name="filter_performers" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text"><i class="user icon"></i>Performers</div>
        </div>
      </div>
      <div class="column">
        <h5>Tags</h5>
      </div>
      <div class="column">
        <div class="ui list">
          <div class="item">
            <div class="ui fluid selection dropdown">
              <input name="sort" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Sort By</div>
              <div class="menu">
                <div class="item" data-value="path">Path</div>
                <div class="item" data-value="title">Title</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui fluid selection dropdown">
              <input name="direction" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Direction</div>
              <div class="menu">
                <div class="item" data-value="asc">Ascending</div>
                <div class="item" data-value="desc">Descending</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="one column centered row">
      <button class="ui reset button">
        Reset
      </button>
      <button class="ui primary submit button">
        Filter
      </button>
    </div>
  </div>
</form>

<div class="ui three doubling cards">
  <% @scenes.each do |scene| %>
    <%= render scene %>
  <% end %>
</div>

<%= paginate @scenes %>
