<div class="wall grid">
  <form id="scene-filter" class="ui massive form">
    <div class="ui massive fluid transparent icon input">
      <input name="q" placeholder="Search..." type="text">
      <i class="search icon"></i>
    </div>
  </form>

  <div class="ui four column grid" style="margin: 0;">
  <% @scenes.each do |scene| %>
    <%= link_to scene_path(scene), class: 'wall column' do %>
      <video class="wall item" loop autoplay="true">
        <source src="<%= scene_preview_path(scene) %>" type="video/webm" />
      </video>
    <% end %>
  <% end %>
  </div>
</div>
