<div class="card">
  <%= link_to '#', class: 'image' do %>
    <img src="https://unsplash.it/300/350/?random">
  <% end %>
  <div class="content">
    <div class="header"><%= performer.name %></div>
  </div>
  <div class="extra content">
    <span>
      <i class="like icon"></i>
    </span>
  </div>
</div>
