<div class="card">
  <%= link_to performer_path(performer), class: 'image' do %>
    <%= image_tag performer_image_path(performer) %>
  <% end %>
  <div class="content">
    <div class="header"><%= performer.name %></div>
  </div>
  <div class="extra content">
    <span>
      <i class="like icon"></i>
    </span>
  </div>
</div>
