<div class="ui center aligned stackable vertically divided grid">
  <div class="one column row">
    <div class="ui huge statistics column">
      <div class="statistic">
        <div class="value">
          <%= Scene.count %>
        </div>
        <div class="label">
          Scenes
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <%= Performer.count %>
        </div>
        <div class="label">
          Performers
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <%= Studio.count %>
        </div>
        <div class="label">
          Studios
        </div>
      </div>
    </div>
  </div>
  <div class="one column row">
    <div class="column">
    </div>
  </div>
</div>
