<div class="card">
  <%= link_to "", gallery_path(gallery), class: 'gallery image', style: "background-image:url(#{gallery_file_path(gallery, index: 0)});" %>
  <div class="content">
    <div class="header"><%= gallery.title || 'No Title' %></div>
  </div>
  <div class="extra content">
    <span>
      <i class="like icon"></i>
    </span>
  </div>
</div>
