/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require semantic
 *= require_self
 */

body {
  background-color: #FFFFFF;
}

.main.container {
  margin-top: 5em;
  margin-bottom: 2em;
}

#main-pagination {
  margin: 2em 0 1em 0;
}

.pre {
  white-space: pre-line;
}

.previewable {
  line-height: 0;
}

video.preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

video.wall.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wall.column {
  padding: 0 !important;
  line-height: 0;
}

.wall.grid {
  position: absolute;
  left: 0;
  right: 0;
  top: 41px;
  bottom: 0;
  overflow: auto;
}
