<div class="ui modal">
  <div class="header">Select an image stored in the stash</div>
  <div class="content">
    <div class="ui middle aligned list">
      <% @server_images.each do |file| %>
      <div class="ui item filepath" data-value="<%= file[:path] %>">
        <img class="ui small image" src="data:image/jpeg;base64,<%= file[:data] %>" />
        <div class="content"><%= file[:path] %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(function() {
  $('.modal').modal('attach events', '#server-image-button', 'show');
  $('.modal').on('click', '.filepath', function() {
    $('.modal').modal('hide');
    $('#image_path').val($(this).data('value'))
  });
});
</script>
